record(bi, "$(P)$(N)") {
    field(DTYP, "asynUInt32Digital")
    field(INP , "@asynMask(DEV_R_$(BASE),$(OFFSET),$(MASK),,100)MODBUS_DATA")
    field(SCAN, "I/O Intr")
    field(ZNAM, "$(ZNAM=Zero)")
    field(ONAM, "$(ONAM=One)")
    field(ZSV , "$(ZSV=)")
    field(OSV , "$(OSV=)")
}
